/* SECCION DE SERVICIOS*/

.heading {
	text-align: center;
}

.heading span {
	color: #0b1957;
	font-weight: 600;
}

.heading h2 {
	font-size: var(--h2-font);
	color: #0b1957;
}

.herramientas-container {
	height: 80vh;
	width: 100vw;
	display: flex;
	align-items: center;
    justify-content: center;
}

.h-box {
    display: flex;
    flex-direction: column;
	text-align: center;
	width: 50vw;
}

.h-box img {
	width: 200px;
}

.h-box h3 {
	margin: 4px 0 10px;
	color: #274472;
	font-size: 1.5rem;
}

.h-box p {
	line-height: 1.7;
    margin: auto;
    width: 75%;
}

@media (max-width: 770px) {
	header {
		padding: 10px 160px;
	}
	.herramientas {
		grid-template-columns: 1fr;
		text-align: center;
	}
	.herramientas-container {
		grid-template-columns: 1fr;
		text-align: center;
	}
}
